* {
    font-family: 'Baloo Thambi', cursive;
}

.navbar {
    background: url(./images/earth.jpg) no-repeat;
    background-size: cover;
}

.answer {
    font-size: 40px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 30%;
    width: 400px;
    background: rgba(255, 255, 255, 0.769);
    border-radius: 10px;
    border: 4px solid rgba(128, 128, 128, 0.598);
    animation-duration: 1s;
    animation-name: answer-animation;
}

.correct-country {
    font-size: 30px;
    text-align: center;
}
  
  @keyframes answer-animation {
    0% {
      transform: scale(1);
    }

    25% {
        transform: scale(1.5);
    }
  
    50% {
        transform: scale(1);
    }
    75% {
      transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
  }

@media (max-width: 1000px) {
    .form-check {
        display: flex;
    }

    .display-2 {
        font-size: 2rem;
    }

    .answer {
        font-size: 70px;
    }
}
@media (max-width: 700px) {
    .answer {
        font-size: 40px;
    }
    .correct-country {
        font-size: 30px;
    }
}